.toplogo {
  position: fixed;
  z-index: 2;
  margin: 0;
  left: 0;
  top: 0;
  min-width: 15rem;
}

.topbar {
  width: 100%;
  height: 2.2rem;
  color: white;
  background: #000;
  border-bottom: 1px solid white;
  font-family: '04b03';

  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
}
.topbar p {
  font-family: '04b03';
  font-size: 1.6rem;
  display: inline-block;
  padding-left: 100%;
  margin: 0;
}

.staticbar {
  display: flex;
  justify-content: right;
}
.staticbar p {
  padding-left: 0;
  margin-right: 2rem;
}

.marquee-text {
  animation: marquee 30s linear infinite;
}

/* TODO: Fix this not working */
.post-title {
  background-attachment: fixed !important;
  border-bottom: 2px solid var(--white);
}
.post-title:first-child {
  border-top: 2px solid var(--white);
  border-bottom: none;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/* Smol screen {{{ */

.introduction {
  font-family: '04b03';
  text-align: center;
  color: var(--white);
  padding: 0 3em 0 3em;
}

.introduction__header {
  word-wrap: normal;
  font-size: 1.8rem;
}

.introduction__text {
  text-align: left;
  font-size: 1.6rem;
}

.post-title p {
  text-align: center;
  color: var(--white);
  font-family: '04b03';
  font-size: 2rem;
  margin: 0.8em;
  text-shadow: 3px 6px #000, 0px -1px #000, 0px 1px #000, -1px 0px #000, 1px 0px #000,
    -1px -1px #000, 1px 1px #000, -1px 1px #000, 1px -1px #000;
  margin: 0;
}

/* }}} */

/* Beeg screen {{{ */
@media only screen and (min-width: 1200px) {
  .introduction__header {
    font-size: 4rem;
  }

  .introduction__text {
    font-size: 2.3rem;
    padding-left: 8em;
    padding-right: 8em;
  }

  .post-title p {
    font-size: 6rem;
  }
}
/* }}} */
