/* Header {{{ */
.header {
  font-size: 62.5%;
  line-height: 24px;
}
.toplogo {
  position: fixed;
  z-index: 2;
  margin: 0;
  left: 0;
  top: 0;
  min-width: 15rem;
}

.topbar {
  width: 100%;
  height: 2.2rem;
  color: white;
  background: #000;
  border-bottom: 1px solid white;
  font-family: '04b03';

  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
}
.topbar p {
  position: relative;
  display: inline-block;
  margin: 0;
  top: -2px;
  font-family: 'Heading';
  font-size: 1.6rem;
}

.staticbar {
  display: flex;
  justify-content: right;
}
.staticbar p {
  padding-left: 0;
  margin-right: 2rem;
}

.topbar > marquee {
  font-family: Heading;
  letter-spacing: -4px;
  font-size: 16px;
}
/* }}} */

/* Knobs {{{ */
.knob-row {
  display: flex;
  gap: 5em;
  padding: 0 1em;
  margin-left: 150px;
  transform: translateY(-1px);
  overflow-y: clip;
}
.knob {
  font-family: '04b03';
  font-size: 16px;
  color: white;
  transform: translateY(-1px);
  display: flex;
}

.knob > svg {
  height: 24px;
}

.knob > span {
  display: inline-block;
  background-color: black;
  height: 24px;
  box-shadow: inset 0 -1px 0 white, 0 -1px 0 black;
}
/* }}} */

/* Main page {{{ */
.introduction {
  /* Scary and terrible hack that I rather not do but I don't exactly have much of a choice. */
  position: relative;
  transform: translateY(-2.4rem);
  z-index: -1;
  font-family: '04b03';
  text-align: center;
  color: var(--white);
}
#wallpaper {
  display: flex;
  height: 65vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  line-height: 6rem;
  background-color: #000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/s/img/home.png');
  background-attachment: fixed;
  background-position: center;
}
#welcome {
  margin-right: -1em;
  text-shadow: 3px 6px #000, 0px -1px #000, 0px 1px #000, -1px 0px #000, 1px 0px #000,
    -1px -1px #000, 1px 1px #000, -1px 1px #000, 1px -1px #000;
}
.introduction__header {
  word-wrap: normal;
  font-size: 1.8rem;
}

.introduction__text {
  text-align: left;
  font-size: 1.6rem;
}
/* }}} */

/* Projects {{{ */
.project-box {
  width: 90vw;
  margin-left: 3vw;
  background-color: #000;
  border: 1px solid #fff;
  box-shadow: 3px 3px #fff;
  padding: 1vw 2vw;
  margin-bottom: 1em;
}
.project-box h2 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.project-box a {
  width: fit-content;
}
.project-box a:visited {
  color: var(--yellow);
}
.project-box a:hover {
  background-color: var(--yellow);
  color: var(--black);
}
/* }}} */

/* Blog {{{ */
.post-title {
  background: url('/s/img/post-title.jpg');
  background-attachment: fixed !important;
  background-repeat: round;
  border-top: 2px solid var(--white);
}
.post-title.post-header {
  /* Sticks the post title to the top of the page upon scrolling down.
   * Thanks Kasi :) */
  position: sticky;
  top: 0;

  /* Offsets the post title from the top of the page so it doesn't overlap with
   * the header */
  margin-top: 3rem;

  border-bottom: 2px solid var(--white);
}
.post-title p {
  text-align: center;
  color: var(--white);
  font-family: '04b03';
  font-size: 2rem;
  margin: 0.8em;
  text-shadow: 3px 6px #000, 0px -1px #000, 0px 1px #000, -1px 0px #000, 1px 0px #000,
    -1px -1px #000, 1px 1px #000, -1px 1px #000, 1px -1px #000;
  margin: 0;
  padding: 1rem;
}
.post-title:last-child {
  border-bottom: 2px solid var(--white);
}

.post-container {
  flex: 1;
  padding: 3rem;
  /* Fake gradient to darken the image */
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/s/img/post-bg.png);
  background-attachment: fixed;
  background-position: center;
}
.post-content {
  background: rgba(0, 0, 0, 0.43);
  border: 2px solid var(--black);
  text-align: left;
  color: var(--white);
  text-align: left;
  /* font-family: monospace; */
  font-size: 1.6rem;
  padding: 2em;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000,
    -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.post-content pre {
  text-shadow: none;
}

/* }}} */

/* Beeg screen {{{ */
@media only screen and (min-width: 1200px) {
  .introduction__header {
    font-size: 4rem;
  }

  .introduction__text {
    font-size: 2.3rem;
    padding-left: 8em;
    padding-right: 8em;
  }

  .post-title p {
    font-size: 5rem;
  }
}
/* }}} */
