/* Header {{{ */
.header {
    font-size: 62.5%;
    line-height: 24px;
}

.toplogo {
    position: fixed;
    z-index: 2;
    margin: 0;
    left: 0;
    top: 0;
    min-width: 15rem;
}

.topbar {
    width: 100%;
    height: 2.2rem;
    color: white;
    background: #000;
    border-bottom: 1px solid white;
    // font-family: '04b03';

    overflow: hidden;
    box-sizing: border-box;
    white-space: nowrap;

    & p {

        position: relative;
        display: inline-block;
        margin: 0;
        top: -2px;
        // font-family: 'Heading';
        font-size: 1.6rem;
    }

    &>marquee {
        // font-family: Heading;
        letter-spacing: -4px;
        font-size: 16px;
    }
}

.staticbar {
    display: flex;
    justify-content: right;

    & p {
        padding-left: 0;
        margin-right: 2rem;
    }
}

/* }}} */

/* Knobs {{{ */
.knob-row {
    display: flex;
    gap: 5em;
    padding: 0 1em;
    margin-left: 150px;
    transform: translateY(-1px);
    overflow-y: clip;
}

.knob {
    font-family: '04b03';
    font-size: 16px;
    color: white;
    transform: translateY(-1px);
    display: flex;

    &>svg {
        height: 24px;
    }

    &>span {
        display: inline-block;
        background-color: black;
        height: 24px;
        box-shadow: inset 0 -1px 0 white, 0 -1px 0 black;
    }
}

/* }}} */