---
import BaseHead from "../components/BaseHead.astro";
import MainContainer from "../components/MainContainer.vue";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <MainContainer>
      <slot />
    </MainContainer>
  </body>
</html>
